body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
  background-size: auto 100%;
}

@media screen and (min-width: 600px) and (max-width: 904px){
  body {
    background-image: url(/public/blob.png);
  }
}

@media screen and (min-width: 905px){
  body {
    background-image: url(/public/blob-person.svg);
  }
}